{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

<h1 class='text-center'>
    {% if editMode %}
        Modifier l'article 
    {% else %}
        Ajouter une nouvelle offre
    {% endif %}
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-control pe-5 ps-5 mb-5 mt-5">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.title, {'attr' : {'placeholder' : 'Titre de l\'offre'}}) }}
                        {{ form_row(form.content, {'attr' : {'placeholder' : 'Contenu de l\'offre'}}) }}
                        {{ form_row(form.address, {'attr' : {'placeholder' : 'Adresse de l\'offre'}}) }}
                        {{ form_row(form.postal_code, {'attr' : {'placeholder' : 'Code postal de l\'offre'}}) }}
                        {{ form_row(form.city, {'attr' : {'placeholder' : 'Ville de l\'offre'}}) }}
                        {{ form_row(form.contract) }}
                        {{ form_row(form.contract_type) }}
                        {{ form_row(form.ended_at) }}
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class='btn btn-success'>
                            {% if editMode %}
                                Enregistrer les modifications
                            {% else %}
                                Ajouter l'offre
                            {% endif %}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}